/* Apply box-sizing: border-box to all elements */
*,
*::before,
*::after {
	box-sizing: border-box;
}

:root {
	--dark-purple: #1a1332;
	--dogwood-rose: #dc1666;
	--russian-violet: #281650;
	--raisin-black: #1c1e27;
	--white: #ffffff;
	--ghost-white: #f5f7fb;
	--dark-purple-light: #9a7fbc;
	--dogwood-rose-light: #eba3b3;
	--russian-violet-dark: #1b0034;
	--raisin-black-light: #4a4a4a; /* Consistent with the Tailwind config */
	--ivory: #fffff0;
	--cool-gray: #b0c4de;
	--lavender: #e6e6fa;
	--peach-puff: #ffdab9;
	--teal: #008080;
	--goldenrod: #daa520;

}

.App {
	min-height: 100vh;
	display: flex;
	flex-direction: column;
	margin-left: auto;
	margin-right: auto;
	padding-left: 1rem;
	padding-right: 1rem;
}
