:root {
  --dark-purple: #1a1332;
  --dogwood-rose: #dc1666;
  --russian-violet: #281650;
  --raisin-black: #1c1e27;
  --white: #ffffff;
}

@tailwind base;
@tailwind components;
@tailwind utilities;

/* Common hover styles for links */
.link-hover {
	@apply rounded-lg hover:bg-dogwood-rose hover:px-2 hover:py-1 duration-150;
}

/* Common styles for active links */
.link-active {
	@apply bg-dogwood-rose px-2 py-1;
}

/* Hidden state for the grid */
.hidden-grid {
	@apply opacity-0 pointer-events-none transition-opacity duration-300;
}

/* Visible state for the grid */
.visible-grid {
	@apply opacity-100;
}
