# Ignore node_modules
client/node_modules/
server/node_modules/

# Ignore build outputs
client/build/
server/dist/

# Ignore editor settings (optional if private project)
.vscode/

# Ignore environment files
client/.env
server/.env
